// ————————————————————————————————————————————————————————————————————————————————
// Закриття блоку
// ————————————————————————————————————————————————————————————————————————————————
[data-closable] {
	position: relative;
}

// Непуста підсторінка
[data-closable]:not(:empty) {
	background-color: var(--navbgcolor);
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: calc(1rem + 36px);
}

// Кнопка закриття субсторінки
.close-subpage {
	position: absolute;
	top: 0;
	right: 0;
}

// ————————————————————————————————————————————————————————————————————————————————
// Таблиці
// ————————————————————————————————————————————————————————————————————————————————
.col-narrow {
	width: 3rem;
}
.col-date {
	width: 10rem;
}

// Сортування у таблиці
[data-sort]:hover {
	cursor: pointer;
}

[data-dir="asc"]:after {
	content: ' ↗';
	color: red;
}

[data-dir="desc"]:after {
	content: ' ↘';
	color: red;
}

// ————————————————————————————————————————————————————————————————————————————————
// Редактор
// ————————————————————————————————————————————————————————————————————————————————
label.required:after {
	content: '*';
	color: red;
}

input[type=number] {
	text-align: right;
}

// ————————————————————————————————————————————————————————————————————————————————
// Переклади
// ————————————————————————————————————————————————————————————————————————————————
.t-label {
	padding-top: 1.8rem;
}

.uk:before {
	content: 'UK';
	color: var(--translationcolor);
	font-size: .6rem;
}
.en:before {
	content: 'EN';
	color: var(--translationcolor);
	font-size: .6rem;
}

/* Прапор поряд з текстівкою-перекладом */
.t-flag {
	height: 10px;
}

// ————————————————————————————————————————————————————————————————————————————————
// Тло меню 
// ————————————————————————————————————————————————————————————————————————————————
.bg-slightly-not-default {
	background-color: var(--navbgcolor);
}

// ————————————————————————————————————————————————————————————————————————————————
// Кнопка як посилання
// ————————————————————————————————————————————————————————————————————————————————
button.anchor {
	background: none;
	border: none;
	padding: 0;
	color: var(--bs-primary);
	cursor: pointer;
}
